/* set root variables */
:root {
  --primary: #3c4369;
  --secondary: #98878f;
  --light: aliceblue;
  --dark: #192231;
  --accent: #985e6d;
  --bg-main: rgba(219, 214, 214, 0.1);
}

/* element selectors */
body {
  background-color: var(--bg-main);
}

/* set default text sizing */
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

p {
  margin-bottom: 1rem;
  line-height: 1.3rem;
  padding: 5px;
}

h1, h2 { 
  padding: 10px;
  text-align: center;
  background-color: var(--secondary);
  color: var(--dark);
  clear: both;
}

h3, h4, h5 { 
  padding: 5px;
  color: var(--secondary);
}

/* section formatting (header, main, footer) */
header{
  background-color: var(--primary);
  padding: 5px 0 15px 0;
}

header h1 {
  text-align: center;
  padding-bottom: 15px;
  background-color: var(--primary);
  color: var(--secondary);
}

nav {
  display: flex;
  justify-content: center;
}

nav a, footer a {
  padding: 0 5px;
  color: var(--light);
}

main {
  min-height: 80vh;
}

footer {
  background-color: var(--dark);
  padding: 10px 0;
}

footer nav {
  display: flex;
  justify-content: center;
}

footer p {
  text-align: center;
  padding-top: 10px;
  color: var(--secondary);
}

/* class selectors */
.about-me {
  display: flex;
  flex-direction: column;
}

.about-me img {
  max-width: 100%;
  max-height: 50vh;
  margin: auto;
}




/* .flex-row {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

.flex-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

 .img-joseph {
  width: 100%;
  height: auto;
  grid-column-start: 2;
  grid-column-end: 12;
}  */


/* .img-joseph {
  max-width: 100%;
  margin: auto;
  padding-left: 15%;
  display: block;
  padding: 10px 20% 10px 20%;
} */



.card {
  flex: 1 0 100%;
  justify-content: center;
  border: 1px solid var(--dark);
  flex-direction: column;
  align-items: center;
}

.card-header {
  position: relative;
  margin: -8rem 0 4rem 0;
  padding: 0.5rem 1rem;
  background-color: var(--primary);
  color: var(--light);
  border: 2px solid var(--accent);
  border-radius: 8px;
  align-self: flex-start;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.text-center {
  text-align: center;
}

/* id selectors */


/* media queries */
@media screen and (min-width:550px) {
  .about-me {
    flex-direction: row;
  }
}

@media screen and (min-width:780px) {
  header nav {
    justify-content: right;
    margin-top: -2em;
    padding-right: 10px;
  }

  .card {
    flex: 1 0 45%;
  }

  .card:nth-child(1) {
    flex: 1 0 100%;
  }
}