/* set root variables */
:root {
  --primary: #494e6b;
  --secondary: #98878f;
  --tertiary: #192231;
  --accent: #985e6d;
  --bg-main: rgb(219, 214, 214);
}

/* element selectors */
body {
  background-color: var(--bg-main);
}

h1, h2, h3 {
  padding: 10px;
  text-align: center;
  background-color: var(--secondary);
}

header h1 {
  text-align: center;
  background-color: var(--primary);
  font-size: 2em;
}

nav {
  display: flex;
  justify-content: center;
}

nav a, footer a {
  padding: 0 5px;
  color: aliceblue;
}

header, footer {
  min-height: 10vh;
  background-color: var(--primary);
  padding: 10px 0;
  color: var(--secondary);
}

p {
  padding: 10px;
}

main {
  min-height: 80vh;
}

footer {
  background-color: var(--tertiary);
}

footer nav {
  display: flex;
  justify-content: center;
}

footer p {
  text-align: center;
  padding-top: 10px;
}
/* class selectors */
.img-joseph {
  max-width: 40%;
}

.about p {
  float: right;
}

#portfolio {
  clear: both;
}

/* media queries */