/* set root variables */
:root {
  --primary: #494e6b;
  --secondary: #98878f;
  --light: aliceblue;
  --dark: #192231;
  --accent: #985e6d;
  --bg-main: rgba(219, 214, 214, 0.1);
}

/* element selectors */
body {
  background-color: var(--bg-main);
}

h1, h2 {
  padding: 10px;
  text-align: center;
  background-color: var(--secondary);
  color: var(--dark);
}

h3, p {
  padding: 5px 0;
}

header h1 {
  text-align: center;
  background-color: var(--primary);
  font-size: 2.5em;
  color: var(--secondary);
}

nav {
  display: flex;
  justify-content: center;
}

nav a, footer a {
  padding: 0 5px;
  color: var(--light);
}

header, footer {
  min-height: 10vh;
  background-color: var(--primary);
  padding: 10px 0;
}

main {
  min-height: 80vh;
}

footer {
  background-color: var(--dark);
}

footer nav {
  display: flex;
  justify-content: center;
}

footer p {
  text-align: center;
  padding-top: 10px;
  color: var(--secondary);
}

article img {
  width: 90%;
}

/* class selectors */

.img-joseph {
  max-width: 40%;
}

.about p {
  float: right;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

.card {
  flex: 1 0 100%;
  justify-content: center;
  border: 1px solid var(--dark);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-center {
  text-align: center;
}

/* id selectors */


/* media queries */
@media screen and (min-width:780px) {
  header nav {
    justify-content: right;
    margin-top: -2em;
    padding-right: 10px;
  }

  .card {
    flex: 1 0 45%;
  }

  .card:nth-child(1) {
    flex: 1 0 100%;
  }
}